<div class="container_top">
    <div class="container_top_right">
        <div class="container_top_title">New user</div>
        <div class="inner_container">
            <%= render 'form' %>

        </div>
    </div>
</div>