<h1 align="center">AboutUs Page</h1>
<h3 style="color: #ffffff">Twitter is an online social networking and microblogging service that enables users to send and read "tweets", which are text messages limited to 140 characters. Registered users can read and post tweets, but unregistered users can only read them</h3>
