<div class="container_top">
    <%= render "users/left_panel" %>
    <div class="container_top_right">
        <div class="container_top_title">New address</div>
        <div class="container_top_text">


            <%= render 'form' %>

            <%= link_to 'Back', addresses_path,:class => 'link_button' %>

        </div>
    </div>
</div>
